@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,500;0,700;0,900;1,300&display=swap");

$primary-color: #f55050;
$secondary-color: #f5f5f5;
$tertiary-color: #2c2929;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
